<ion-header>
    <ion-navbar color="primary">
      <ion-title>Pendientes</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h1>Lista de pendientes</h1>
    <ion-grid>
        <ion-row *ngIf="( _listaDeseosService.listas | pendientes ).length === 0">
            <ion-col class="text-center caja-vacia">
                <ion-icon ios="ios-sunny" md="md-sunny" class="icono-grande"></ion-icon>
                <p>
                    No hay listas que mostrar
                </p> 
            </ion-col>
          </ion-row>
    </ion-grid>
    
    <ion-card *ngFor="let lista of _listaDeseosService.listas | pendientes:false; let i = index;">
      <ion-item color="primary" (click)="verDetalle(lista, i)">
          <h1>{{ lista.nombre }}</h1>
          <ion-note item-right>
            {{ lista.items.length }} items
          </ion-note>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let item of lista.items | slice:0:2"  (click)="verDetalle(lista, i)">
          <ion-icon *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
          <ion-icon *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          {{item.nombre}}
        </ion-item>
        <ion-item class="text-center" *ngIf="lista.items.length > 2">
          <ion-icon color="primary" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="irAgregar()"><ion-icon ios="ios-add" md="ios-add"></ion-icon></button>
    </ion-fab>
  </ion-content>
  